header {
    padding-top: 2rem;
}

.menu {
    display: flex;
    gap: 23px;
    justify-content: flex-start;
    align-items: center;
}

.menu a {
    color: var(--gray-100);
    font-size: 24px;
    font-weight: 600;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: var(--purple);
    text-decoration: underline;
}

.btn-nav{
    width: 8.125rem;
    height: 2.5625rem;
    border-radius: 20.5px;
    background-color: var(--purple);
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 600;
    transition: background-color 0.3s ease;

}

.btn-nav:hover {
    background-color: #4F47C3;
}

.main-container{
    display: flex;
    padding-top: 10%;
    justify-content: space-between;
}

.conteudo {
    width: 32.0625rem;
    height: 27.5rem;
}

.conteudo h1 {
    color: var(--gray-300);
    font-size: 6.25rem;
    font-weight: 900;
}

.conteudo h2 {
    color: var(--gray-300);
    font-size: 3.625rem;
    font-weight: 500;
}

.conteudo p {
    color: var(--gray-200);
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 35px;
}

.btn-action {
    margin-top: 65px;
    width: 14.9375rem;
    height: 4rem;
    border-radius: 20.5px;
    background-color: var(--green);
    color: #000;
    font-size: 1.75rem;
    font-weight: 700;
    transition: background-color 0.3s ease;
}

.btn-action:hover {
    background-color: #91D600;
}

img {
    max-width: 100%;
    height: auto;
}

 /* Ajuste para dispositivos menores */
 @media (max-width: 1024px) {
    .conteudo {
        padding-left: 20px;
    }
    .btn-action {
        margin-top: 20px;
        margin-bottom: 10px;
    }
  }
  
  @media (max-width: 768px) {

    header{
        display: none;
    }
    .conteudo {
      font-size: 5rem;
      padding-bottom: 10px;
    }
    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .conteudo h1 {
      font-size: 3.125rem;
    }
    .conteudo h2 {
      font-size: 1.5625rem;
    }
    .conteudo p {
      font-size: 18px;
    }
  }
  
  @media (max-width: 480px) {
   
    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-container img {
        width: 300px;
        height: 300px;
    }
    .conteudo{
        display: flex;
        flex-direction: column;
        align-items: center;
        }
        .conteudo h1 {
        font-size: 3.125rem;
      }
      .conteudo h2 {
        font-size: 1.5625rem;
      }
      .conteudo p {
        max-width: 400px;
        font-size: 1.125rem;
      }
    }
    


  
  